.form-button {        
    display: flex;
    justify-content: center;
    padding: 30px;        
}
.transition-message {
    display: flex;
    justify-content: center;
    align-content: center;
}
.transaction-menu {
    margin: auto;
    padding: 20px;
    width: 50%;    
}
.transaction-form {
    margin-top: 20px;
}